{% extends 'base.html' %}

{% block content %}

    <button 
    class="btn btn-primary"
    hx-get="{% url 'create_lesson' %}"
    hx-swap="innerHTML"
    hx-target="#modal-body"
    hx-on:click="openModal()"
    > Add Lesson </button>

    {% if lessons %}
    <ul id="lesson-list">
        {% for lesson in lessons %}
           {% include 'lessons/partials/lesson-item.html' %}
        {% endfor %}
    </ul>
    
    {% else %}
        <h1 class="text-danger">No lesson !</h1>
    {% endif %}

</div>
{% endblock %}