<h1 class="font-bold flex items-center p-2 rounded-full justify-between">
    {% if request.user.is_authenticated %}
        <span class="text-success text-xl bg-green-900 text-white p-2 rounded-full flex items-center"> <i data-lucide="user"></i> {{ request.user | upper }}</span>                            
            <div>
                <button
                class="btn btn-secondary"
                hx-get="{% url 'logout' %}"
                hx-swap="outerHTML"
                hx-target="#login"
                >
                <i data-lucide="log-out"></i> 
                Logout</button>            
    
            </div>
    {% else %}
        <span class="font-bold bg-red-900 text-white text-xl p-2 rounded-full lex items-center"">  Guest</span>   
    {% endif %}     
</h1>
