<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEARNING - {% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body class="font-bold flex flex-col items-center min-h-screen">
    
    {% include 'global/navbar.html' %}

<main id="base_main">
    {% block content %} {% endblock %}
</main>
        {% include 'global/modal.html' %}       

        <script src="{% static 'javascript/modal.js' %}"></script>

    {% include 'global/footer.html' %}
    <!-- CDN ONLINE SCRIPTS -->
    {% include 'global/cdn.html' %}
</body>
</html>